@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: #7fbd1b;
    display: flex;
    align-items: center;
    height: 6rem;
}

.header-logo {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 0.4rem;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav ul li {
    padding: 0.5rem;
    font-family: "Montserrat";
    font-size: 1.2rem;
}

.language-menu {
    margin-left: auto;
    padding-right: 2.5rem;
}

.language-menu ul {
    display: flex;
    gap: 0.3rem;
}

/* MAIN */

main { 
    background-color:white ;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    font-family: pacifico;
}

.formCompra {
    
    display: flex;
    width: 50rem; 
    flex-direction: column ;
    align-items: center;

    border-radius: 1em;
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);

   
   
    margin: 30px auto;
    padding:25px;
      border-radius: 8px;
    
    display: flex;  
}

.formCompra input {
    padding: 0.7rem;
}

.formCompra button {
    padding: 1rem;
}

h4 {
    font-size: 1.4rem;

}


.formCliente, .formEnvio {
    width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}




label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: rem;

}



/* FOOTER */


footer {
    background-color:#E2FFB4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.page-info {
    font-family: "Overpass Mono";
    font-size: 1rem;
    margin: 5rem;
    color: black;
}

.endfooter {
    background-color: black;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Overpass Mono";
    font-size: 0.8rem;
}