@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */


/* MAIN */

main { 
    background-color:white ;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    font-family: pacifico;
}

.formCompra {
    
    display: flex;
    width: 50rem; 
    flex-direction: column ;
    align-items: center;

    border-radius: 1em;
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);

   
   
    margin: 30px auto;
    padding:25px;
      border-radius: 8px;
    
    display: flex;  
}

.formCompra input {
    padding: 0.7rem;
}

.formCompra button {
    padding: 1rem;
}

h4 {
    font-size: 1.4rem;

}


.formCliente, .formEnvio {
    width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}




label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: rem;

}



/* FOOTER */

