/*tarjeta del producto*/
.contenedor {
    display: flex;
    width: 80%;
    border-style: solid;
    padding: 20px;
    margin: auto;
    gap: 20px;
}

.cuadrofoto {
    width: 50%;
    overflow: hidden;
}

.foto {
    display: block;
    width: 100%;
    height: auto;
    border-style: solid;
    transition: transform 0.4s ease;
}

.cuadroinfo {
    width: 50%;
    height: 100px;
    border-style: solid;
    height: auto;
}

.cuadrotexto {
    width: 100%;
    padding: 20px;
    height: 100px;
    border-style: solid;
    height: auto;
}

/*cuadro modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/*recomendaciones*/
.contenedor2 {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    padding: 10px;
    width: 80%;
    gap: 20px;
    margin: auto;

}

.foto2 {
    width: 25%;
    height: auto;
    object-fit: contain;
    border-style: solid;
    background-color: aquamarine;
}


/* mediaqueries*/
@media (max-width: 600px) {
    .contenedor {
        flex-direction: column;
    }

    .contenedor2 {
        flex-wrap: wrap;
    }

    .cuadrofoto {
        width: 100%;
    }

    .cuadroinfo {
        width: 100%;
    }

}

@media (max-width: 800px) {

    .contenedor2 {
        flex-wrap: wrap;
    }

}