@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass Mono", monospace;
    color:#641B2E;
}

h2 {
    font-family: "Pacifico";
    font-size: 2rem;
    margin: 1rem;
}

body {
    background-color: #f4f8f1;
}

.marca {
    display:inline-block; 
    background-color:rgb(245, 220, 90); 
    color: rgb(20, 40, 120);
    padding: 0.2rem;
}


.boton {
  background-color:#8a2d3b;
  color: white;    
  border: none;       
  border-radius: 0.5rem;  
  padding: 0.8rem 1.2rem; 
  font-size: 1rem; 
  cursor: pointer;          
  text-decoration: none;
  border: 0.1rem solid transparent;   
}

.boton2 {
  background-color: #8a2d3b;
  color: white;    
  border: none;       
  border-radius: 0.5rem;  
  padding: 0.8rem 1.2rem; 
  font-size: 1rem; 
  cursor: pointer;          
  text-decoration: none;    
  width: 100%;
}

.boton:hover {
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
}
.boton2:hover {
    background-color: #e4c6be;
    color:#641B2E;  
}

.boton3 {
  background-color: #8a2d3b;
  color: white;    
  border: none;       
  border-radius: 0.5rem;  
  padding: 0.8rem 1.2rem; 
  font-size: 1rem; 
  cursor: pointer;          
  text-decoration: none;    
  width: 100%;
}


/*tarjeta del producto*/
.contenedor {
    background-color: white;
    display: flex;
    width: 70%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(170, 169, 169);
    padding: 1rem;
    margin: auto;
    gap: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0.3rem 0.3rem 0.8rem 0.1rem rgba(148, 110, 99, 0.5);
}

.cuadrofoto {
    width: 50%;
    overflow: hidden;
}

.foto {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    border-radius: 0.7rem;
}

.cuadroinfo {
    width: 50%;
    height: 100px;
    height: auto;
 
}

.cuadrotexto {
    width: 100%;
    padding: 1.2rem;
    background-color:#f0e1c0;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cuadrotexto h2, .cuadrotexto p {
    color: #641B2E;
}

.cuadrotexto2 {
    width: 100%;
    padding: 1.2rem;
    background-color: #f0e1c0;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 1rem;
}

/*cuadro modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    box-shadow: 0.3rem 0.3rem 0.8rem 0.1rem rgba(12, 11, 11, 0.5);
}

.preview{
    width: 150px;
    height: 150px;
    display: inline-block;
}
.preview img {
    width: 100%;
     object-fit: cover;
}
/*recomendaciones*/
.contenedor2 {
    background-color: white;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 0.8rem;
    padding: 1rem;
    width: 80%;
    gap: 1rem;
    margin: auto;
    margin-bottom: 2rem;
    border-width: 0.1rem;
    border-color: rgb(170, 169, 169);
    box-shadow: 0.3rem 0.3rem 0.8rem 0.1rem rgba(148, 110, 99, 0.5);

}

.cuadrofoto2 {
    width: 25%;
    overflow: hidden;
}

.foto2 {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-style: solid;
    background-color: aquamarine;
}


/* mediaqueries*/
@media (max-width: 748px) {
    .contenedor {
        flex-direction: column;
        width: 95%;
    }

    .contenedor2 {
        flex-wrap: wrap;
    }

    .cuadrofoto {
        width: 100%;
    }

    .cuadroinfo {
        width: 100%;
    }

    .contenedor2 {
        width: 95%;
        padding: 1rem;
    }
    .cuadrofoto2 {
    width: 45%;
}

}

