.cuadro {
    width: 50%;
    border-style: solid;
    padding: 10px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    padding: 10px;
    max-width: 800px;
    margin: auto;
}

.foto {
    width: 400px;
    height: auto;
    object-fit: contain;
    border-style: solid;
    background-color: aquamarine;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}