@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

header {
        font-family: "Overpass Mono", monospace;
}

/* INICIO DE LA SECCIÓN PRINCIPAL */
main {
    font-family: "Montserrat";
    gap: 2rem;
    padding: 1rem 5vw;
    min-height: 100vh;
    background-color: #fcf5f5;
}
h1{
    text-align: center;
}

/* TABLA DONDE ESTAN LOS PRODUCTOS*/
.container-tabla{
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    width: 80%;
}

.container-productos{
    width: 100%;
    max-width: 1300px;
    border-collapse: collapse;
    text-align: center;
}

.container-productos th{
    background-color: rgb(8, 8, 138);
    color: white;
}
.container-productos th,
.container-productos td {
    border: 1px solid #cccccc;
    padding: 0.5rem;
    height: 3rem;
}
.acciones, .descrip{
    width: 30%;
}
/* AQUI DARE ESTILO AL BOTON CREAR  */
#abrirModal, .editar {
  padding: 0.8rem 2rem;
  align-self: flex-start; 
  border-radius: 0.5rem;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0 2rem;  
  cursor: pointer;
  transition: background 0.3s;
}
/* ESTOS DOS BOTONES SON DE ACCIONES DEL ENCABEZADO DE LA TABLA DE PRODUCTOS */
.eliminar {
  padding: 0.8rem 1rem;
  align-self:flex-end; 
  border-radius: 0.5rem;
  background-color: red;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.editar{
   padding: 0.8rem 1.5rem;
   margin: 0; 
}
#abrirModal:hover {
  background-color: #0056b3; 
}

/* FONDO OSCURO DEL MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

/* CONTENIDO DEL MODAL */
.modal-content {
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
}

/* BOTÓN DE CERRAR */
.cerrar-modal {
  font-size: 1.5rem;
  cursor: pointer;
}

/* FORMULARIO */
.agregar-producto{
  margin: 2rem auto;
  border: 1px solid #ccc;
  width: 60%;
  background-color: #fff;
}

.agregar-producto h3{
  text-align: center;
  padding: 1rem 0;
  background-color:#e8dfdf;  
  font-size: 1.5rem;  
}

.campos-formularios{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem;
  justify-content: center;
}

.campo{
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(50% - 1.5rem);
  min-width: 280px;
}

.campo label{
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.campo input,
.campo select,
.campo textarea {
  padding: 0.5rem;
  border: 1px solid #bbb;
  border-radius: 4px;
  width: 80%;
  font-size: 1.3rem;
}

/* BOTONES DEL MODAL */
.botones-modal{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.boton-modal{
  padding: 0.8rem 2rem;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}