    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Overpass Mono", monospace;}
    
        
    #pop-up{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border: none;
        padding: 0;
        margin: 0 auto; 
        max-width: 950px; 
        width: 90%; 
        box-sizing: border-box;
    }

    .pop-wrap{ 
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 950px;
    }
    .pop-up-title{
        background: #fff;
        flex-basis: 0;
        flex-grow: 1.5;
        height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-image: url('/assets/img/fondo-modal.jpeg');
        background-size: 165%;
        background-position: center;

    }
    .pop-up-title::after{
        content: '';
        position: absolute;
        background: rgba(138, 45, 59, 0.75);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
 .pop-up-title::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
        z-index: -1;
 }
    .pop-up-title h2{
        font-size: 3rem;
        z-index: 10;
        color: #fff;
    }
    .pop-up-title p{
        font-size: 1.3rem;
        font-weight: 300px;
        z-index: 10;
        color: #fff;
    }
    .subcripcion {
        background: #fff;
        flex-basis: 0;
        flex-grow: 2;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        text-align: center;
    }

.sub-content {
        width: 75%;
}
.sub-content h2 {
        font-weight: 500;
        font-size: 40px;
        color: #641B2E;
        margin-bottom: 4rem;
}

.sub-content p {
    font-weight: 500;
    font-size: 1.5rem;
    color: #641B2E;
    margin-bottom: 20px;
}
.sub-content  .accion {
    font-weight: bold;
    font-size: 1.8rem;
    color: #8a2d3b;
}

    .line {
        width: 100%;
        height: 20px;
    }
    #cerrar {
        position: absolute;
        top: 40px;
        right: 25px;
        font-size: 25px;
        color: #1bc58b;
        cursor: pointer;        
    }


@media (max-width: 1024px) {    
    #pop-up {
        width: 85%;
        max-width: 800px; 
    }

    .pop-up-title,
    .subcripcion {
        height: 380px;
    }
    
    .pop-up-title h2 { font-size: 2.2rem; }
    .sub-content h2 { font-size: 30px; margin-bottom: 2rem; }
    .sub-content p { font-size: 1.2rem; }
}


@media (max-width: 768px) {    
    #pop-up {
        max-width: 480px; /
    }

    .pop-wrap {
        flex-direction: column; 
    }
    .pop-up-title {
        display: none; 
    }
    .subcripcion {
        width: 100%;
        height: auto; 
        padding: 1.5rem 0;
    }
    .sub-content {
        width: 80%;
    }
    #cerrar {
        position: absolute; 
        top: 15px;
        right: 15px;
        color: white;
        font-size: 30px; 
        z-index: 100; 
        background: transparent; 
    }
    .sub-content h2 { font-size: 25px; margin-bottom: 1.5rem; }
    .sub-content p { font-size: 1rem; }
}