    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Overpass Mono", monospace;}
    
        
    #pop-up{
        border: none;
        padding: 0;
        max-width: none;
        margin: 10rem 20rem ;
    }

    #pop-up::backdrop{
            background: rgba(48, 48, 48, 0.5);
    }

    .pop-wrap{ 
        display: flex;
        align-items: center;
        width: 90%;
        max-width: 950px;


    }
    .pop-up-title{
        background: #fff;
        flex-basis: 0;
        flex-grow: 1.5;
        height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-image: url('/assets/img/fondo-modal.jpeg');
        background-size: 165%;
        background-position: center;

    }
    .pop-up-title::after{
        content: '';
        position: absolute;
        background: rgba(228, 63, 90, 0.75);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
 .pop-up-title::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
        z-index: -1;
 }
    .pop-up-title h2{
        font-size: 3rem;
        z-index: 10;
        color: #fff;
    }
    .pop-up-title p{
        font-size: 1.3rem;
        font-weight: 300px;
        z-index: 10;
        color: #fff;
    }
    .subcripcion {
        background: #fff;
        flex-basis: 0;
        flex-grow: 2;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        text-align: center;
    }

.sub-content {
        width: 75%;
}
.sub-content h2 {
        font-weight: 500;
        font-size: 40px;
        color: #1f4068;
        margin-bottom: 15px;
}

.sub-content p {
    font-weight: 500;
    color: #1bc59b;
    margin-bottom: 30px;
}
.subs-email{
    width: 100%;
    padding: 15px;
    border: none;
    background: #ccc;
    margin-bottom: 15px;
}

.subs-send{
    width: 100%;
    padding: 15px;
    border: none;
    background: #e43f54;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.25s ease background;
}
.subs-send:hover{
    background: #1bc59b;
}

    .line {
        width: 100%;
        height: 20px;
        background: #1f4068;
    }
      #cerrar {
        position: absolute;
        top: 40px;
        right: 25px;
        font-size: 25px;
        color: #1bc58b;
        cursor: pointer;        
    }

  @media screen and (max-width: 945px) {
  #pop-up {
    display: none;
  }
}