     .caja {
            display: inline-block;
            width: 150px;
            height: 150px;
            background-color: rgb(19, 98, 124);
            margin: 10px 0;
            border: 2px solid #333;
        }

    .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }