 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

    * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }



     /*--CAJA QUE RODEA EL FORMULARIO DE FILTROS Y PRODUCTOS--> */

     .containerform {
         width: 100%;
         background-color: #af0b0b;
         padding: 10px;
         border-radius: 10px;
         display: flex;
     }



     /*--CAJA DONDE IRIAN LOS PRODUCTOS--> */
     #container {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         padding: 1rem;
         font-family: "Overpass Mono";
     }

     .card {
         margin: 2rem;
         border: 1px solid black;
         padding: 1rem;
         display: flex;
         flex-direction: column;
         /* Alinea verticalmente */
         align-items: center;
         /* Centra todo */
         justify-content: space-between;
         /* Mantiene el texto abajo */
         height: 400px;
         /* MISMA altura para todas las cards */
     }

     .caja-img {
         width: 100%;
         height: 300px;
         /* Todas las imágenes con la misma altura */
         object-fit: cover;
         /* Recorta la imagen sin deformarla */
         transition: transform 0.4s ease;
         /* Suaviza la animación */
         cursor: pointer;
     }

     .card:hover .caja-img {
         transform: scale(1.1);
         /* La imagen se agranda */
     }

     .caja-informacion {
         text-align: center;
         margin-top: 1rem;
     }


     /*--FORMULARIO DE FILTROS--> */

     .filtro label {
         font-weight: bold;
         margin-left: 50px;

     }


     .filtro input,
     .filtro select {
         padding: 5px;
         border-radius: 5px;
         border: 1px solid #999;
     }


     .filtro button {
         padding: 8px;
         background: #13627c;
         color: white;
         border: none;
         border-radius: 5px;
         cursor: pointer;
     }


     .filtro button:hover {
         background: #0f5167;
     }






