
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER */



header {
    background-color: #7fbd1b;
    display: flex;
    align-items: center;
    height: 6rem;
}

.header-logo {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 0.4rem;
}



/* NAV */


nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    text-decoration: underline;
    text-underline-offset: 4px;
    padding: 1rem;
    
    font-size: 1.2rem;
}




/* LANGUAGE MENU */




.language-menu {
    margin-left: auto;
    padding-right: 2.5rem;
}

.language-menu ul {
    display: flex;
    gap: 0.3rem;
}


/* FORMULARIO REGISTRO */
.registro {
    width:100%;
    padding:3rem 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 2rem; 
}

.registro h2{
    margin-bottom:2rem;
    font-family:"Pacifico" cursive;
}

.registro-form{
    background:white;
    padding:2rem;
    border-radius:15px;
    width:350px;
    box-shadow:0px 0px 30px rgba(0,0,0,.4);
    display:flex;
    flex-direction:column;
}

.registro-form label{
    margin-top:.7rem;
}

.registro-form input{
    padding:.6rem;
    border:1px solid #ccc;
    border-radius:6px;
    margin-top:.3rem;
}

.registro-form button{
    margin-top:1.5rem;
    padding:.7rem;
    border:none;
    border-radius:8px;
    background:#7fbd1b;
    color:white;
    font-size:1rem;
    cursor:pointer;
}

.registro-form button:hover{
    background:#6aa314;
}

.login-text{
    margin-top:1rem;
    text-align:center;
}






/* FOOTER */



footer {
    background-color:#E2FFB4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.page-info {
    font-family: "Overpass Mono";
    font-size: 1rem;
    margin: 5rem;
    color: black;
}

.endfooter {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Overpass Mono";
    font-size: 0.8rem;
}