@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass Mono", monospace;

}










/* FORMULARIO REGISTRO */
.registro {
    width:100%;
    padding:3rem 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 2rem; 
}

.registro h2{
    margin-bottom:2rem;
    font-family:"Pacifico" ;
}

.registro-form{
    background:white;
    padding:2rem;
    border-radius:15px;
    width:350px;
    box-shadow:0px 0px 30px rgba(0,0,0,.4);
    display:flex;
    flex-direction:column;
}

.registro-form label{
    margin-top:.7rem;
}

.registro-form input{
    padding:.6rem;
    border:1px solid #ccc;
    border-radius:6px;
    margin-top:.3rem;
}

.registro-form button{
    margin-top:1.5rem;
    padding:.7rem;
    border:none;
    border-radius:8px;
    background:#7fbd1b;
    color:white;
    font-size:1rem;
    cursor:pointer;
}

.registro-form button:hover{
    background:#6aa314;
}

.login-text{
    margin-top:1rem;
    text-align:center;
}








