@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: #7fbd1b;
    display: flex;
    align-items: center;
    height: 6rem;
}

.header-logo {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-left: 4rem;
}

/* NAV */
nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 1.2rem;
}




/* LANGUAGE MENU */
.language-menu {
    margin-left: auto;
    padding-right: 2.5rem;
}

.language-menu ul {
    display: flex;
    gap: 0.3rem;
}

/* ----------------------------------------------------
    AQUI EMPIEZA EL CUERPO DE LA PAGINA INDEX
------------------------------------------------------*/
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}
/*-------------------------------------------------------
        AQUI DEBO AGREGAR STYLE DEL CARRUSEL
------------------------------------------------------ */
.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.img{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 36rem;
    width: 71rem;
    border-radius: 1rem;
    margin: 0.5rem;
    object-fit: cover;
}
.iconos {
    width: 2rem;
    background-color: transparent;
    border: 0px ;
}
.texto {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(8px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}
.texto h1 {
    font-family: "Pacifico";
    text-shadow: 0px 0px 15px black;
    color: white;
    font-weight: 300;
    font-size: 6rem;
    }

.texto  h4 {
    font-family: "Overpass Mono";
    text-align: center;
    font-size: 1.8rem;
    color: white;
    margin-top: -1rem;
    font-weight: 300;
}

.imagenes .texto {
    width: 40%;
    height: 200px;
    margin-bottom: 5rem;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
}
.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}
.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #7fbd1b;
}



.products-viewer {
    background-color: #FFC59C;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.products-viewer h2 {
    font-family: "Pacifico";
    font-size: 2rem;
    margin: 5rem;
    color: white;
}

.workshop-viewer {
    background-color: #F2E7D5;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.workshop-viewer h2 {
    font-family: "Pacifico";
    font-size: 2rem;
    margin: 5rem;
    color: white;
}



/* ---------------------------------------------------------
    STYLE DEL   FOOTER 
------------------------------------------------------------*/
footer{
    background-color:#7fbd1b;
}

.footer-container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a{
    color: black;
    text-decoration: none;
}

.footer-container section{
    width: 30%;
}

.footer-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-page{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -3rem;
    font-size: 2rem;
    }

.footer-section-2{
    display: flex;
    justify-content: flex-end;
}
.footer-section-2>div{
    width: 60%;
}
.footer-section-2 ul li{
    list-style: none;
    text-align: start;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.footer-section-3{
    text-align: center;
    justify-items: center;
}
.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.footer-socials i {
    font-size: 1.5rem;
}

.footer-section-3 p{
    padding-bottom: 1rem;
}

