@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');


header {
    background-color: #E2FFB4;
    display: flex;
    align-items: center;

}

nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav ul li {
    padding: 0.5rem;
    font-family: "Montserrat";
    font-size: 0.7rem;
}

.language-menu {
    margin-left: auto;
    padding-right: 2.5rem;
}

.language-menu ul {
    display: flex;
    gap: 0.3rem;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}

.cover {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10rem;
    gap: 0.1rem;
}

h1 {
    font-family: "Pacifico";
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.cover h4 {
    font-family: "Overpass Mono";
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}