@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
body, html {
    width: 100%;
    overflow-x: hidden;
    background-color: #f8efdb;
}

/* HEADER */
header {
    background-color: #8A2D3B;
    display: flex;
    align-items: center;
    height: 6.5rem;
    width: 100%;
}

.header-logo {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 5rem;
    border-radius: 50%;
    margin-left: 4rem;
}

/* NAV */
nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    padding-left: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 5rem;
    gap: 3rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.2rem;
}




/* LANGUAGE MENU */
.carrit{
    margin-right: 2rem;
}
.registro-cart {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.registro-cart ul {
    display: flex;
    gap: 0.3rem;
    color: white;
}

.iconos-nav {
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 4rem;
}

#reloj{
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    font-size: 0.9rem;
    color: white;
}
/*--------------------------------------------
   MENÚ HAMBURGUESA SOLO CON HTML + CSS
-------------------------------------------- */
/* Oculta checkbox */
.menu-toggle {
  display: none;
}
/* Icono de hamburguesa */
.menu-icon {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: white;
  position: fixed;
  right: 20px;
  z-index: 1001;
}


main {
    color: #641B2E;
}

/*-------------------------------------------------------
        AQUI DEBO AGREGAR STYLE DEL CARRUSEL
------------------------------------------------------ */
#carrusel-container {
    width: 100%;
}
.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10rem;
    position: relative;
}
.imagenes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
#img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.img{
    width: 100%;
    height: 45rem;
    object-fit: cover;
}

.iconos {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  all 0.3s ease;
}

#adelante{
    right: 2rem;
}
#atras{
    left: 2rem;
}


.img-iconos{
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) invert(1);
}
.texto {
    position: absolute;
    flex-direction: column;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    text-shadow: 0px 0px 10px black;
    margin-top: 2rem;
}
.texto h1 {
    font-family: "Pacifico";
    color: white;
    font-weight: 300;
    font-size: 9rem;
    }

.texto h4 {
    font-family: "Montserrat";
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-top: -1rem;
    font-weight: 300;
}

.imagenes .texto {
    width: 40%;
    height: 200px;
    margin-bottom: 5rem;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10.5rem;
}
.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: #F1DFB5;
}
.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #BE5B50;
}

/*-------------------------------------------------------
        AQUI TENEMOS LOS PRODUCTOS DESTACADOS
------------------------------------------------------ */
.subtitulo{
    font-size: 4rem;
    margin-top: 4rem;
    text-align: center;
    color: #8A2D3B;
    font-family: "Pacifico";
    margin-bottom: 2rem;
 
}
#products-destacados{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    gap: 1rem;
}
.card-tarjeta {
    background-color: #f1dfb5;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    border-radius: 0.7rem;
        box-shadow: 
        0 8px 15px rgba(0, 0, 0, 0.35),
        0 15px 35px rgba(0, 0, 0, 0.25);    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.tarjeta-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.4s ease;
    cursor: pointer;
    border-radius: 0.7rem;
}
.card-tarjeta:hover .tarjeta-img {
    transform: scale(1.1);
}
.tarjeta-informacion {
    text-align: center;
    margin-top: 1rem;
}
.agregar {
    width: 70%;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 0.5rem;
    background-color: #BE5B50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.agregar:hover {
    transform: scale(1.03);
    background-color: #FBDB93;
    color: #641B2E;
}

/*-------------------------------------------------------
        NUESTRO TALLER
------------------------------------------------------ */
.subcontainer-taller {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center; 
    margin-bottom: 5rem;
}
.taller-titulo{
    font-size: 4rem;
    margin-top: 6rem;
    text-align: center;
    color: #8A2D3B;
    font-family: "Pacifico";
    margin-bottom: 3rem;
}

.taller-img {
    grid-area: 1 / 1 / 2 / 2;
    width: 45rem;
    margin-left: 4rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}
.taller-texto{
    grid-area: 1 / 2 / 2 / 3;
    margin: 2rem 5rem 8rem 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-align: justify;
    background-color: #f0e1c0;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}
.taller-texto p{
    margin: 2rem;
}
/* -----------------------------------------------------------
segunda parte de Nuestro Taller 
-------------------------------------------------------------*/
.subcontainer-taller-dos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center; 
    margin-bottom: 4rem;
}

.taller-texto-dos{
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 3rem;
    margin-right: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-align: justify;
    background-color: #f0e1c0;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}
.taller-texto-dos p{
    margin: 2rem;
}

.taller-img-dos {
    grid-area: 1 / 2 / 2 / 3;
    width: 35rem;
    margin-right: 3rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}


/* ---------------------------------------------------------
    STYLE DEL   FOOTER 
------------------------------------------------------------*/
footer{
    background-color:#BE5B50;
}

.footer-container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}
.footer-logo img {
    width: 5rem;
    border-radius: 50%;
    margin-left: 4rem;
}
footer a{
    color: white;
    text-decoration: none;
}
.fa-solid{
    color: white;
}
.footer-container section{
    width: 30%;
}

.footer-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-page{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -3rem;
    font-size: 2rem;
    font-family: "Pacifico";
    color: white;
    }

.footer-section-2{
    display: flex;
    justify-content: flex-end;
}
.footer-section-2>div{
    width: 60%;
}
.footer-section-2 ul li{
    list-style: none;
    text-align: start;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.footer-section-3{
    text-align: center;
    justify-items: center;
    color: white;
}
.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.footer-socials i {
    font-size: 1.5rem;
    color: white;
}

.footer-section-3 p{
    padding-bottom: 1rem;
}


/* --------------------------------------------
   RESPONSIVE: TELÉFONOS Y TABLETAS PEQUEÑAS
-------------------------------------------- */
@media screen and (max-width: 1024px) {   
    .header-logo {
    padding-left: 0;
    } 
   .texto h1 {
        font-size: 4rem;
    }
    .texto h4 {
        font-size: 1.3rem;
    }
    .subcontainer-taller,
    .subcontainer-taller-dos {
        grid-template-columns: 1fr; 
        padding: 0 1rem; 
        margin-bottom: 2rem;
    }
    .taller-img, .taller-img-dos {
        grid-area: auto; 
        order: 1; 
        margin: 1rem auto; 
    }
    .taller-texto, .taller-texto-dos {
        grid-area: auto;
        order: 2; 
        margin: 1rem;
    }
}


@media (max-width: 768px) {  
    .header-logo img {
    margin: 1.5rem;    
    }
      /* Mostrar hamburguesa */
    .menu-icon {
        display: block;         
    }
    nav{
        align-items: center;
    }
    /* ICONOS: se quedan en la barra */
  .registro-cart {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .iconos-nav .fa-solid{
    color: black;
  }

  .iconos-nav {
    display: flex;
    gap: 0.5rem;
  }
    nav ul {
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 6rem; 
        right: 0;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        z-index: 1000;        
        display: none; 
    }
    nav ul li {
        width: 100%;
    }
    nav ul li a {
        display: block; 
        border-bottom: 1px solid #e0e0e0;
        color: black;
    }    
    .menu-toggle:checked ~ nav ul {
        display: flex; 
    }
    
    .registro-cart {
        padding-right: -10rem;
        padding-top: 7rem;   
    }
    .iconos-nav{
        background-color: transparent;
        
    }

    #reloj {
        right: 0.3rem;
        font-size: 0.7rem;
        top: 5rem;
    }

    /* CARRUSEL */
    .img{
        height: 20rem;
    }
    .iconos {
    display: none;
    }
    .texto h1 {
        font-size: 2.5rem;
    }
    .texto h4 {
        font-size: 0.8rem;
        margin-top: 0;
    }
    .imagenes .texto {
        width: 80%; 
        height: 120px;
        margin-bottom: 2rem; 
    }
    .puntos p {
        font-size: 50px; 
        margin-top: -1rem;
    }
    /* seccion DESTACADOS */
    .subtitulo {
        font-size: 2rem;
        margin-top: 3rem;
    }
    /* seccion NUESTRO TALLER */
    .taller-titulo{
    font-size: 2rem;
    }
    .taller-img,  .taller-img-dos  {
    width: 23rem;
    margin-left: 0;
    }
    .taller-texto, .taller-texto-dos {
        grid-area: auto;
        font-size: 1.3rem;
        text-align: center;
    }
    
    /* --- FOOTER: Apilar secciones --- */
    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-logo img {
    margin: 0rem;
    }
    .footer-container section{
        width: 90%; 
        margin-bottom: 2rem;
    }
    .footer-section-2>div{
        width: 100%; /
    }
    .footer-section-2 ul li{
        text-align: center; 
    }
}