@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    overflow-x: hidden; 
}
/* HEADER */
header {
    background-color: #7fbd1b;
    display: flex;
    align-items: center;
    height: 6rem;
    width: 100%;
}

.header-logo {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 5rem;
    border-radius: 50%;
    margin-left: 4rem;
}

/* NAV */
nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 5rem;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 1.2rem;
}

/* LANGUAGE MENU */
.carrit{
    margin-right: 2rem;
}
.language-menu {
    margin-left: auto;
    padding-right: 2.5rem;
    position: relative;
}

.language-menu ul {
    display: flex;
    gap: 0.3rem;
}
#reloj{
    position: absolute;
    bottom: -1.5rem;
    right: 2.5rem;
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    font-size: 0.9rem;
    margin-top: 0.3rem;
    white-space: nowrap;
}
 /*--------------------------------------------
   MENÚ HAMBURGUESA SOLO CON HTML + CSS
-------------------------------------------- */
/* Oculta checkbox */
.menu-toggle {
  display: none;
}
/* Icono de hamburguesa */
.menu-icon {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: white;
  z-index: 1001;
  padding: 10px 20px;
}
/* ----------------------------------------------------

/*-------------------------------------------------------
        AQUI DEBO AGREGAR STYLE DEL CARRUSEL
------------------------------------------------------ */
#carrusel-container {
    width: 100%;
}
.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10rem;
    position: relative;
}
.imagenes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    z-index: 1;
}
#img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.img{
    width: 100%;
    height: 45rem;
    object-fit: cover;
}

.iconos {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  all 0.3s ease;
}

#adelante{
    right: 2rem;
}
#atras{
    left: 2rem;
}
.iconos:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.img-iconos{
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) invert(1);
}
.texto {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(8px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}
.texto h1 {
    font-family: "Pacifico";
    text-shadow: 0px 0px 15px black;
    color: white;
    font-weight: 300;
    font-size: 6rem;
    }

.texto  h4 {
    font-family: "Overpass Mono";
    text-align: center;
    font-size: 1.8rem;
    color: white;
    margin-top: -1rem;
    font-weight: 300;
}

.imagenes .texto {
    width: 40%;
    height: 200px;
    margin-bottom: 5rem;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10.5rem;
}
.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}
.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #7fbd1b;
}

/*-------------------------------------------------------
        AQUI TENEMOS LOS PRODUCTOS DESTACADOS
------------------------------------------------------ */
.subtitulo{
    font-size: 3rem;
    margin-top: 5rem;
    text-align: center;
}
#products-destacados{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    gap: 1rem;
    font-family: "Overpass Mono";
}
.card-tarjeta {
    border: 3px dotted #7fbd1b;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    border-radius: 0.7rem;
}
.tarjeta-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.4s ease;
    cursor: pointer;
    border-radius: 0.7rem;
}
.card-tarjeta:hover .tarjeta-img {
    transform: scale(1.1);
}
.tarjeta-informacion {
    text-align: center;
    margin-top: 1rem;
}
.agregar {
    width: 70%;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 0.5rem;
    background-color: #7fbd1b;
    color: white;
    border: #7fbd1b;
    cursor: pointer;
}


/*-------------------------------------------------------
        NUESTRO TALLER
------------------------------------------------------ */
.subcontainer-taller {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center; 
    margin-bottom: 5rem;
}
.taller-titulo{
    font-size: 3rem;
    margin-top: 8rem; 
    text-align: center;
    margin-bottom: 1rem; 
}
.taller-img {
    grid-area: 1 / 1 / 2 / 2;
    width: 45rem;
    margin-left: 4rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);
}
.taller-texto{
    grid-area: 1 / 2 / 2 / 3;
    margin: 2rem 5rem 8rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: justify;
    border: 3px dotted #ffc595;
}
.taller-texto p{
    margin: 2rem;
}
/* -----------------------------------------------------------
segunda parte de Nuestro Taller 
-------------------------------------------------------------*/
.subcontainer-taller-dos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center; 
    margin-bottom: 4rem;
}

.taller-texto-dos{
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: justify;
    border: 3px dotted #ffc595;
}
.taller-texto-dos p{
    margin: 2rem;
}

.taller-img-dos {
    grid-area: 1 / 2 / 2 / 3;
    width: 35rem;
    margin-right: 3rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);
}


/* ---------------------------------------------------------
    STYLE DEL   FOOTER 
------------------------------------------------------------*/
footer{
    background-color:#7fbd1b;
}

.footer-container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}
.footer-logo img {
    width: 5rem;
    border-radius: 50%;
    margin-left: 4rem;
}
footer a{
    color: black;
    text-decoration: none;
}

.footer-container section{
    width: 30%;
}

.footer-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-page{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -3rem;
    font-size: 2rem;
    font-family: "Pacifico";
    }

.footer-section-2{
    display: flex;
    justify-content: flex-end;
}
.footer-section-2>div{
    width: 60%;
}
.footer-section-2 ul li{
    list-style: none;
    text-align: start;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.footer-section-3{
    text-align: center;
    justify-items: center;
}
.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.footer-socials i {
    font-size: 1.5rem;
}

.footer-section-3 p{
    padding-bottom: 1rem;
}


/* --------------------------------------------
   RESPONSIVE: TELÉFONOS Y TABLETAS PEQUEÑAS
-------------------------------------------- */
@media screen and (max-width: 1024px) {    
   .texto h1 {
        font-size: 4rem;
    }
    .texto h4 {
        font-size: 1.3rem;
    }
    .subcontainer-taller,
    .subcontainer-taller-dos {
        grid-template-columns: 1fr; 
        padding: 0 1rem; 
        margin-bottom: 2rem;
    }
    .taller-img, .taller-img-dos {
        grid-area: auto; 
        order: 1; 
        margin: 1rem auto; 
    }
    .taller-texto, .taller-texto-dos {
        grid-area: auto;
        order: 2; 
        margin: 1rem;
    }
}


@media (max-width: 768px) {  
    .img{
        height: 20rem;
    }
    .iconos {
    display: none;
}
    .texto h1 {
        font-size: 2.5rem;
    }
    .texto h4 {
        font-size: 0.8rem;
        margin-top: 0;
    }
    .imagenes .texto {
        width: 80%; 
        height: 120px;
        margin-bottom: 2rem; 
    }
    .puntos p {
        font-size: 50px; 
        margin-top: -1rem;
    }
    
    .subtitulo {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .taller-titulo{
    font-size: 2rem;
    }
    .taller-img,  .taller-img-dos  {
    width: 23rem;
    margin-left: 0;
    }
    .taller-texto, .taller-texto-dos {
        grid-area: auto;
        font-size: 1.3rem;
        text-align: center;
    }
    /* --- FOOTER: Apilar secciones --- */
    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-logo img {
    margin: 0rem;
    }
    .footer-container section{
        width: 90%; 
        margin-bottom: 2rem;
    }
    .footer-section-2>div{
        width: 100%; /
    }
    .footer-section-2 ul li{
        text-align: center; 
    }
}