@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER */



header {
    background-color: #7fbd1b;
    display: flex;
    align-items: center;
    height: 6rem;
}

.header-logo {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 0.4rem;
}



/* NAV */


nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    text-decoration: underline;
    text-underline-offset: 4px;
    padding: 1rem;
    font-family: "Montserrat";
    font-size: 1.2rem;
}




/* LANGUAGE MENU */




.language-menu {
    margin-left: auto;
    padding-right: 2.5rem;
}

.language-menu ul {
    display: flex;
    gap: 0.3rem;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}

.cover {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 17rem;
    gap: 0.1rem;
}

h1 {
    font-family: "Pacifico";
    font-size: 8rem;
    margin: 0;
    padding: 0;
}

.cover h4 {
    font-family: "Overpass Mono";
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

.products-viewer {
    background-color: #FFC59C;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.products-viewer h2 {
    font-family: "Pacifico";
    font-size: 2rem;
    margin: 5rem;
    color: white;
}

.workshop-viewer {
    background-color: #F2E7D5;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.workshop-viewer h2 {
    font-family: "Pacifico";
    font-size: 2rem;
    margin: 5rem;
    color: white;
}

/* CAROUSEL */

.carousel {
    position: relative;  /* para que los hijos se posicionen dentro */
    width: 100%;
    height: 60vh;        /* altura del carrusel */
    overflow: hidden;    /* recorta lo que se salga del contenedor */
}

.carousel img {
   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    opacity: 0;        
    transition: opacity 1s ease-in-out;
    z-index:0;
}

.carousel img.active {
    opacity: 1;        
}




/* FOOTER */



footer {
    background-color:#E2FFB4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.page-info {
    font-family: "Overpass Mono";
    font-size: 1rem;
    margin: 5rem;
    color: black;
}

.endfooter {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Overpass Mono";
    font-size: 0.8rem;
}