@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');


header {
    background-color: #E2FFB4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    padding: 0.5rem;
    font-family: "Montserrat";
    font-size: 0.7rem;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


