@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: #7fbd1b;
    display: flex;
    align-items: center;
    height: 6rem;
}

.header-logo {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-left: 4rem;
}

/* NAV */
nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 1.2rem;
}




/* LANGUAGE MENU */
.carrit{
    margin-right: 2rem;
}
.language-menu {
    margin-left: auto;
    padding-right: 2.5rem;
}

.language-menu ul {
    display: flex;
    gap: 0.3rem;
}

/* ----------------------------------------------------
    AQUI EMPIEZA EL CUERPO DE LA PAGINA INDEX
------------------------------------------------------*/
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}
#reloj{
    margin: 1rem 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    text-align: end;
}
/*-------------------------------------------------------
        AQUI DEBO AGREGAR STYLE DEL CARRUSEL
------------------------------------------------------ */
.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.img{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 60rem;
    width: 120rem;
    border-radius: 1rem;
    margin: 0.5rem;
    object-fit: cover;
}
.iconos {
    width: 2rem;
    background-color: transparent;
    border: 0px ;
}
.texto {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(8px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}
.texto h1 {
    font-family: "Pacifico";
    text-shadow: 0px 0px 15px black;
    color: white;
    font-weight: 300;
    font-size: 6rem;
    }

.texto  h4 {
    font-family: "Overpass Mono";
    text-align: center;
    font-size: 1.8rem;
    color: white;
    margin-top: -1rem;
    font-weight: 300;
}

.imagenes .texto {
    width: 40%;
    height: 200px;
    margin-bottom: 5rem;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10.5rem;
}
.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}
.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #7fbd1b;
}

/*-------------------------------------------------------
        AQUI TENEMOS LOS PRODUCTOS DESTACADOS
------------------------------------------------------ */
.subtitulo{
    font-size: 3rem;
    text-shadow: 0px 0px 1rem #990909;
    margin-top: 5rem;
}
#products-destacados{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem;
    font-family: "Overpass Mono";
}
.card-tarjeta {
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);
    border: 3px dotted #7fbd1b;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    border-radius: 0.7rem;
}
.tarjeta-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.4s ease;
    cursor: pointer;
    border-radius: 0.7rem;
}
.card-tarjeta:hover .tarjeta-img {
    transform: scale(1.1);
}
.tarjeta-informacion {
    text-align: center;
    margin-top: 1rem;
    text-shadow: 0px 0px 1rem black;
}
.agregar {
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);
    width: 70%;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 0.5rem;
    background-color: #7fbd1b;
    color: white;
    border: #7fbd1b;
    cursor: pointer;
}
.agregar:hover{
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

/*-------------------------------------------------------
        NUESTRO TALLER
------------------------------------------------------ */
.subcontainer-taller {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center; 
    margin-bottom: 5rem;
}
.taller-titulo{
    font-size: 3rem;
    text-shadow: 0px 0px 1rem #990909;
    margin-top: 8rem; 
    text-align: center;
    margin-bottom: 1rem; 
}
.taller-img {
    grid-area: 1 / 1 / 2 / 2;
    width: 45rem;
    margin-left: 4rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);
}
.taller-texto{
    grid-area: 1 / 2 / 2 / 3;
    margin: 2rem 5rem 8rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: justify;
    border: 3px dotted #ffc595;
}
.taller-texto p{
    margin: 2rem;
}
/* -----------------------------------------------------------
segunda parte de Nuestro Taller 
-------------------------------------------------------------*/
.subcontainer-taller-dos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center; 
    margin-bottom: 4rem;
}

.taller-texto-dos{
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: justify;
    border: 3px dotted #ffc595;
}
.taller-texto-dos p{
    margin: 2rem;
}

.taller-img-dos {
    grid-area: 1 / 2 / 2 / 3;
    width: 35rem;
    margin-right: 3rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);
}


/* ---------------------------------------------------------
    STYLE DEL   FOOTER 
------------------------------------------------------------*/
footer{
    background-color:#7fbd1b;
}

.footer-container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a{
    color: black;
    text-decoration: none;
}

.footer-container section{
    width: 30%;
}

.footer-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-page{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -3rem;
    font-size: 2rem;
    font-family: "Pacifico";
    }

.footer-section-2{
    display: flex;
    justify-content: flex-end;
}
.footer-section-2>div{
    width: 60%;
}
.footer-section-2 ul li{
    list-style: none;
    text-align: start;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.footer-section-3{
    text-align: center;
    justify-items: center;
}
.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.footer-socials i {
    font-size: 1.5rem;
}

.footer-section-3 p{
    padding-bottom: 1rem;
}

